@model List<Concretar.Services.Models.CuotaViewModel>
@{ 
    var Email = User.Claims.FirstOrDefault(x => x.Type == "Usuario").Value;
    ViewData["Title"] = "Cuotas";
}

<header class="content__title">
    <h1>@ViewData["Title"]</h1>
    <div class="actions">
        <a href="@Url.Action("Index", "Venta")" class="actions__item zmdi zmdi-arrow-left text-danger" title="Volver"></a>
    </div>
</header>

<div class="card">
    <div class="card-block">
        <div class="row">
            <div class="col-md-12">
                @(Html.Grid(Model)
                    .Build(columns =>
                    {
                        columns.Add(m => m.NumeroCuota).Titled("N°");
                        columns.Add(m => m.Precio).Titled("Precio");
                        columns.Add(m => m.FechaVencimiento).Titled("Fecha Vencimiento");
                        columns.Add(m => Html.ActionLink("", "Pagarcuota", "Cuota", new { cuotaId = m.CuotaId }, new { @class = "zmdi zmdi-money zmdi-hc-2x text-primary", @title = "Pagar Cuota" })).Css("action-cell ").Titled("Pagar");
                    })
                    .Pageable(pager =>
                    {
                        pager.RowsPerPage = AppSettings.Value.Paging.RowsPerPage;
                        pager.PagesToDisplay = 10;
                    })
                    .Empty("No se encontró ningún registro")
                    .Css("table table-hover")
                )
            </div>
        </div>
    </div>
</div>
