@model Concretar.DTO.ForgotPasswordDTO

@{
    ViewData["Title"] = "Confirmación de contraseña olvidada";
}

@{
    Layout = "";
}
<style>
    .text-danger {
        color: red;
        margin-left: 40px;
        font-size: 12px;
    }

    .btn-sub {
        background-color: #141b4d !important;
    }

    .message-text {
        margin-left: 40px;
        margin-right: 40px;
        text-align: center;
        padding: 5px;
    }

    .card .card-title {
        font-size: 24px !important;
        margin-top: 55px !important;
        font-weight: 400 !important;
        text-align: center !important;
    }

    .message-text {
        margin-left: 8%;
        padding: 5px;
        font-size: 14px;
    }
</style>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="version" content="1.1.1">
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="~/images/login.png" sizes="32x32">
    <link rel="apple-touch-icon-precomposed" href="~/favicon.png">
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="~/favicon.png">
    <link href="~/js/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="~/js/style.min.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="~/js/page-center.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="~/js/prism.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="~/js/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="~/template/material-design-iconic-font/dist/css/material-design-iconic-font.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/template/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body class="grey">
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <div class="card card-columns" style="width: 40rem;">
        <div class="card-body">
            <div class="row">
                <div class="input-field col s12 center pt-3">
                    <img src="~/images/Asset 1as4.png" alt="" class="responsive-img valign">
                </div>
            </div>
            <h2 class="card-title">@ViewData["Title"]</h2>
            <br />
            <div class="row">
                <div class="message-text">
                    Hemos enviado un mail a: <strong>@Model.Email</strong><br />
                    Por favor, revise su casilla de correo electrónico para restablecer la contraseña.
                </div>
            </div>
            <span class="text-danger text input-field">@TempData["ErrorMessage"]</span>
        </div>
    </div>
    <script src="~/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="~/js/materialize.min.js"></script>
    <script type="text/javascript" src="~/js/prism.js"></script>
    <script type="text/javascript" src="~/js/perfect-scrollbar.min.js"></script>
    <script type="text/javascript" src="~/js/plugins.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/template/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/template/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>

<script>

    $(document).ready(function() {

        setTimeout(RedirectToLogin, 8000);

        function RedirectToLogin() {

            window.location = "/";
        }
    });

</script>