@using NonFactors.Mvc.Grid
@using Concretar.Backend.Extensions
@using Concretar.Helper
@model List<Concretar.Entities.Rol>

@{
    var Email = @User.Claims.FirstOrDefault(x => x.Type == "Usuario").Value;
    ViewData["Title"] = "Roles";
    var edit = Html.ColumnTablePermission("Edit", "Perfil", Email);
    var delete = Html.ColumnTablePermission("Delete", "Perfil", Email);
}
<style>
    .disabled {
        cursor: no-drop;
        opacity: 0.6;
    }
</style>
<header class="content__title">
    <h1>@ViewData["Title"]</h1>
    <div class="actions">
        @Html.ActionLinkRole("Agregar Rol", "btn btn-success text-white float-right", "Create", "Perfil", Email)
    </div>
</header>
<div class="card">
    <div class="card-block">
        <div class="row">
            <div class="col-md-12">
                @(Html.Grid(Model)
                    .Build(columns =>
                    {
                        columns.Add(m => m.Nombre).Titled("Nombre").Sortable(true);
                        columns.Add(m => Html.ActionLink("", "Edit", "Perfil", new { Id = m.RolId }, new { @class = "zmdi zmdi-edit text-warning", @title = "Editar" })).Css("action-cell " + edit).Titled("Editar");
                        columns.Add(m => m.Codigo == Enum.GetName(typeof(EstadosHelper.UsuarioDefault), EstadosHelper.UsuarioDefault.ADM) ? Html.ActionLink("", "Delete", "Perfil", new { Id = m.RolId }, new { @class = "zmdi zmdi-delete text-secondary disabled", @title = "Eliminar" })
                                                                              : Html.ActionLink("", "Delete", "Perfil", new { Id = m.RolId }, new { @class = "zmdi zmdi-delete text-danger swal-delete", @title = "Eliminar" })


                        ).Css("action-cell " + delete).Titled("Eliminar");
                    })
                    .Pageable(pager =>
                    {
                       pager.RowsPerPage = AppSettings.Value.Paging.RowsPerPage;
                       pager.PagesToDisplay = AppSettings.Value.Paging.PagesToDisplay;
                    })
                    .Empty("No se encontró ningún registro")
                    .Css("table table-hover")
                )
            </div>
        </div>
    </div>
</div>
@section Scripts
    {
    <script>
        $(".disabled").click(function (event) {
            event.preventDefault();
        });
    </script>
}