@{
    ViewBag.Title = "Dashboard";
}
<style>
    .alert-warning {
        color: black;
    }
</style>
<div class="main-container" id="main-container">
    <div>
        <div class="main-content" style="margin:0">
            <div class="page-content">
                <div class="row">
                    <div class="col-12 p-3 mb-2 bg-primary text-center">
                        <h3 class="text-white">NOTIFICACIONES DEL MES</h3>
                    </div>
                </div>
                <div class="row cent">
                    <div class=" col-6 text-center">
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-cumpleaños" onclick="cumpleanosmes()"><h4 class="text-white">Cumpleaños de clientes</h4></button>
                    </div>
                    <div class=" col-6 text-center">
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-reuniones" onclick="reunionesmes()"><h4 class="text-white">Listado de reuniones</h4></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-cumpleaños" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Lista de cumpleaños</h4>
            </div>
            <div class="modal-body">
                Texto del modal
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-reuniones" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Lista de reuniones</h4>
            </div>
            <div class="modal-body">
                Texto del modal
            </div>
        </div>
    </div>
</div>
@section Scripts
    {
    <script src="~/js/Highcharts/highcharts.js"></script>
    <script src="~/js/Highcharts/exporting.js"></script>
    <script type="text/javascript">
        //Get all new videos and prepend them to the table
        jQuery(function ($) {

            function tooltip_placement(context, source) {
                var $source = $(source);
                var $parent = $source.closest('.tab-content')
                var off1 = $parent.offset();
                var w1 = $parent.width();

                var off2 = $source.offset();
                var w2 = $source.width();

                if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
                return 'left';
            }

        })
        function cumpleanosmes() {
            $.ajax({
                type: "GET",
                url: 'ListaCumpleanios',
                data: null, 
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: true,
                success: function (resultado) {
                    console.log(resultado)
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) { 
                    var error = eval("(" + XMLHttpRequest.responseText + ")");
                    console.log(error.Message);
                }
            });

        }

    </script>
}

