@{
    ViewBag.Title = "Dashboard";
}
<style>
    .alert-warning{
        color: black;
    }
</style>
<div class="main-container" id="main-container">
    <div>
        <div class="main-content" style="margin:0">
            <div class="page-content">
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script src="~/js/Highcharts/highcharts.js"></script>
    <script src="~/js/Highcharts/exporting.js"></script>
    <script type="text/javascript">
        //Get all new videos and prepend them to the table
        jQuery(function ($) {

            function tooltip_placement(context, source) {
                var $source = $(source);
                var $parent = $source.closest('.tab-content')
                var off1 = $parent.offset();
                var w1 = $parent.width();

                var off2 = $source.offset();
                var w2 = $source.width();

                if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
                return 'left';
            }

        })
    </script>

}

